<main>
  <div class="content">
    <h1>TO-DO List:</h1>
    <p>A place to put your To-dos</p>
    <form>
      <input type="text" name="filter" placeholder="Filter your To-dos" />
    </form>
    <ol>
      <li *ngFor="let task of toDoArray">
        <div class="task-container">
          <button *ngIf="!task.complete" class="complete-btn">Complete</button>
          <p [ngClass]="{ strikethrough: task.complete }" class="task">
            {{ task.task }}
          </p>
          <button class="delete"><i class="fas fa-times"></i></button>
        </div>
      </li>
    </ol>
    <form>
      <input type="text" name="filter" placeholder="Add your To-dos" />
    </form>
    <button class="add">Add</button>
  </div>
</main>
